body{
    margin: 0px;
    font-family: "Montserrat";
    background: rgb(221, 246, 250);
    background-image: url("/background.jpg");
    background-size: 100%;
    margin: 0;
    background: rgb(221, 246, 250);
    text-align: center;
}