body{
    margin: 0px;
    font-family: "Montserrat";
    background: rgb(221, 246, 250);
    /* background:rgb(221, 246, 250) url("background.jpg") no center center; */

    background-size:cover;
    background-size: 100%;
    margin: 0;
    background: rgb(221, 246, 250);
    text-align: center;
}

.main_background{
    padding:1em;
    background:rgb(221, 246, 250) url("background.jpg") no center center;
    background-size:cover;
}